

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    flex-direction: column;
    width: 400px;
    height: 112px;
    border-radius: 6px;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.154px;
    color: #242d60;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  #checkout {
    width: 100vw;
  }
  
  .App-Overview{
    background-color: #242d60 !important;
  }

  .product-summary-total-amount{
    color:darkblue;
  }

  .OrderDetails{
    background-color: rgb(0, 150, 136); 
    color: rgb(255, 255, 255); 
    font-family: system-ui, serif;
  }

  /* Add your custom styles */
#checkout {
  font-size: 16px;
  color: #32325d;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-smoothing: antialiased;
}

#checkout input {
  /* Customize input styles */
  border: 1px solid #aab7c4;
  border-radius: 4px;
  padding: 8px;
}

#checkout .StripeElement {
  /* Customize Stripe Element styles */
  border: 1px solid #aab7c4;
  border-radius: 4px;
  padding: 8px;
}

#checkout .StripeElement--invalid {
  /* Customize styles for invalid input */
  color: #fa755a;
  border-color: #fa755a;
}
