.form-contact{
    width: 80%;
    margin-left: 10%;
    margin-bottom:5%;
    box-shadow: 0px 0px 15px #e6e3e3;
    padding:30px;
    border-radius: 5px;
}

.form-contact label {
    float: left;
    margin-left: 2px;
  }
  
.container{
    margin: 0 auto !important;
}

.btn-login {
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px; */
    padding: 10px 15px  
}

.headder-top{
    box-shadow: 0px 0px 15px #e6e3e3;
  padding-top: 10px;
}