.form-contact{
    width: 90%;
    margin-left: 5%;
    margin-top:2%;
    margin-bottom:5%;
    box-shadow: 0px 0px 15px #e6e3e3;
    padding:20px 50px;
    border-radius: 5px;
}

.form-contact label {
    float: left;
    margin-left: 2px;
  }
  
.container{
    margin: 0 auto !important;
}

.btn-login {
    padding: 10px 15px  
}

.headder-top{
    box-shadow: 0px 0px 15px #e6e3e3;
  padding-top: 10px;
}

.button-submit{
    padding: 15px 25px;
}

.button-login{
    padding: 15px 25px;
}

.dropbtn {
    padding: 8px 15px;
    font-size: 16px;
    color: #fb246a;
    background-color: white;
    border: 1px solid #fb246a;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .dropbtn:hover {
    text-decoration: underline;
    padding: 8px 15px;
    width: 200px;
    height:50px;
  }
    
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
    padding: 6px 10px;
    font-size: 16px;
    width:200px;

    background: #fb246a;
    color: #fff !important;
    border: 1px solid #fb246a;
}


.contact-info{
    margin-top: 8%;
}

.header-area .main-menu ul li a {
  font-family: "Muli",sans-serif;
  text-decoration: none;
}