.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.forgotpassword {
  text-align: left;
  margin-top: 10px;
}
.pb-120 {
  padding-bottom: 250px;
}
.single-job-items .job-tittle ul li{
  color: black;
  font-size: 16px;
}
.job-category-listing .single-listing .select-Categories .container {
  padding: 7px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boxed-btn:hover {
  text-decoration: none;
}


.btn{
  margin-bottom: 30px;
}

.table {
  margin-top: 50px;
}

.jobportal{
  margin-top: 30px;
}
.custom-job-item{
  height: 180px;
  width: 800px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.items-link a {
  color: #fb246a;
  display: block;
  border: 1px solid #fb246a;
  border-radius: 0;
}

.items-link a:hover {
  color: #ffffff;
  background-color: #fb246a;
  text-decoration: none; 
  border-color: #ffffff;
  border-radius: 0;
}
.btnapply{
  background: #fff;
  color: #fb246a !important;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Muli",sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fb246a;
  letter-spacing: 3px;
  text-align: center;
  color: #fb246a;
  text-transform: uppercase;
  cursor: pointer;
}

.btnapply a:hover {
  color: #ffffff;
  background-color: #fb246a;
  text-decoration: none; 
  border-color: #ffffff;
  border-radius: 0;
}
/*  STRIPE */


#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 0;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

.membership-link{
  color: #fb246a;
  text-decoration: underline;
  font-size:17px;
}

.how-to-apply-bg {
  background-image: url("http://localhost:3000/images/how-applybg.png");
}

.dashboard-banner-bg {
  background-image: url("http://localhost:3000/images/dashboard-banner.jpg");
  height:550px;
}

.slider-area .hero-cap h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.jobdetail{
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}
.small-section-tittle2{
  line-height: 1.8;
}
.containertable{
  margin: 40px;
}
.verified-user{
  margin-left:10px;
}
.section-padding {
  padding-top: 50px;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
    margin: 1.75rem auto;
  }
}